@theme {
    /* Colors */
	--color-primary: #334f52;
	--color-secondary: #7b888e;

	--color-brand: #35bfab;
	--color-brand-secondary: #1fc9e7;

	--color-blue-500: #3b82f6;

	--color-bg: #eeeeee;
	--color-border: #ffffff;
	--color-card: #ffffff66;
	--color-article: #ffffffcc;

    /* Fonts */
    --font-averia: 'Averia Gruesa Libre', sans-serif;

	--font-sans:
		'PingFang SC',
		-apple-system,
		system-ui,
		'Segoe UI',
		Roboto,
		Ubuntu,
		Cantarell,
		'Noto Sans',
		BlinkMacSystemFont,
		'Helvetica Neue',
		'Hiragino Sans GB',
		'Microsoft YaHei',
		Arial,
		sans-serif;

    --font-mono:
        ui-monospace,
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        'Liberation Mono',
        'Courier New',
        monospace;

}